#main{
  padding:0 40px 40px 40px;
  min-height: 100vh;
  background-color: #F9F8F4;
}


.feed{
  color:black;
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 4rem;
  padding: 0 20px;
}

#nav{
  float:left;
  font-size: calc(10px + 5.25vmin);
  width:100% !important;
  color: #F9F8F4;
  padding:0;
  font-family: 'Bitter', serif;
  text-align: 'center';
  background-color: black;
  z-index: 2;
}

.title{
  font-size: calc(14px + 1vmin) !important;
  font-family: 'Bitter', serif;
  padding:15px;
}

.details{
  padding:15px;
  text-align: justify;
  text-justify: inter-word;
}

.box{
  padding:20px;
  margin: auto;
}

.itemContainer{
  float:"left";
  clear:"both";
  width:100%;
  background-color: white; 
  border: 1px solid;
  box-shadow: 5px 10px 8px #888888;
}
  
.item{
  height: 350px;
  overflow: scroll;
}

.itemImage{
  max-height:150px;
  object-fit: cover;
  width:100%;
}

.recentItem{
  height: 415px;
  overflow: scroll;
}

.recentImage{
  object-fit: scale-down;
  max-width:50%;
  float:left;
  padding-right:30px;
  padding-bottom: 30px;
}


.button {
  display: inline-block;
  height: 38px;
  padding: 0 15px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  margin: 15px;
}

.sec-title{
  display: block;
  margin:0 auto; 
  font-family: 'Bitter', serif !important;
  background-color:transparent !important;
  text-align: center;
  font-size: calc(24px + 2vmin);
}

.pagination li{
  float:left;
  padding:10px;
  color:black;
  width:auto;
}

.pagination ul{
 display:block;
 margin:0 auto;
 text-align: center;
 width:100%;
}

.pagination li:hover {
  color: #337AB7;
  cursor: pointer;
}

.active{
  color: #337AB7;
  text-decoration: underline;
}

.arrowIcon{
  width:40px; 
  float:left;
}

.arrowIcon:hover{
  cursor: pointer;
}