#main{
  background: rgb(0,0,0);
  background: linear-gradient(16deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
}
#feed{
  color:black;
  background-color:hsla(0, 100%, 100%, 0);
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
}
    
#head{
  font-size: calc(10px + 4.25vmin);
  width:100%;
  color:white;
  padding:10px;
  font-family: 'Bitter', serif;
}

.title{
  font-size: calc(10px + 4vmin) !important;
  font-family: 'Bitter', serif;
}
    
.item-image{
    max-width: 100% !important;
}
