#main{
  min-height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(16deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
}
#feed{
  min-height: 100vh;
  color:black;
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
}
    
#head{
  font-size: calc(10px + 4.25vmin);
  width:100%;
  color:white;
  padding:10px;
  font-family: 'Bitter', serif;
}

.title{
  font-size: calc(10px + 2vmin) !important;
  font-family: 'Bitter', serif;
}
    
.item{
  width:100%;
  margin:15px;
  float:left;
  background-color: white;
}
.image{
  width:25%;
  float:left;
  padding-right: 20px;
  padding-bottom: 0;
}

.heart{
  width:2vmin;
  padding:5px;
}

.heart:hover{
  cursor: pointer;
}